// Menu wrapper
.menu-list {
    width: 280px;

    .menu-item,
    .menu-item-without-icon {
        margin-left: 0;
    }
}

.menu-popper {
    padding-bottom: 8px;
    margin-top: 4px;
}

.sub-menu-popper {
    margin-top: 4px;
}

.menu-body {
    overflow-y: auto;
}

//Menu header
.header {
    height: 50px;
    margin-top: -8px;
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    color: var(--text-color);
    cursor: pointer;
}

.back-btn {
    height: 24px;
}

.back-icon {
    width: 20px;
    height: 20px;
    margin-left: 28px;
}

.header-title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 21px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

// Menu items
.menu-item {
    width: 100%;
    line-height: 21px;
    justify-content: flex-start;
    border-radius: 0;
    padding: 10px 16px;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.menu-item-without-icon {
    width: 100%;
    font-size: 1.4rem;
    line-height: 18px;
    font-weight: 400;
    justify-content: flex-start;
    border-radius: 0;
    padding: 10px 28px;

    &:hover {
        background: rgba(22, 24, 35, 0.06);
    }
}
