// Menu wrapper
.menu-list {
    width: 240px;

    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    padding-bottom: 8px;
    margin-top: 4px;
}

//Menu header
.header {
    height: 50px;
    margin-top: -8px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.back-btn {
    height: 24px;
}

.back-icon {
    width: 20px;
    height: 20px;
    margin-left: 28px;
}

.header-title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 21px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

// Menu items
.menu-item {
    width: 100%;
    line-height: 21px;
    justify-content: flex-start;
    border-radius: 0;
    padding: 10px 16px;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
