.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    padding-left: var(--default-layout-horizontal-spacer-left);
    padding-right: var(--default-layout-horizontal-spacer-right);
    display: flex;
}

.content {
    flex: 1;
}
